<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <div>
            <h1>{{ todo_list_detail.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' todo_list_detail.id %}">Edit list</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' todo_list_detail.id %}">Delete list</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <th>Task</th>
                    <th>Due Date</th>
                </thead>
                {% for todo in todo_list_detail.items.all %}
                <tr>
                    <td>
                        <a href="{% url 'todo_item_update' todo.id %}">{{todo.task}}</a>
                    </td>
                    <td>
                        {{ todo.due_date|date:"F j, Y" }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
</body>

</html>
